*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 100vh;
}
.info{
    color: red;
}
.point{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.change_line{
    position: fixed;
    z-index: 20;
    background-color: #ffffff;
    font-size: 14px;
    right: 0;
    cursor: pointer;
}