<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="test">
    <div v-for="module in modules">
        <input v-model="module.text"/>
    </div>
    <input type="button" value="add" @click="add">
</div>
<script src="../common/vue@2.3.3.js"></script>
<script>
    var app=new Vue({
        el:'#test',
        data:{
            modules:[{
                text:'test'
            }]
        },
        methods:{
            add:function(){
                this.modules.push({text:'test'});
            }
        }
    })
</script>
</body>
</html>