<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-title" content="火车票-qunar.com">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />

    <meta name="keywords" content="火车票,火车票查询,列车时刻表,火车票预定" />
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        canvas{
            display: none;
            margin: 0 auto;
        }
        .select_image_container{
            width: 80%;
            margin: 0 auto;
            height: 40px;
            background-color: red;
        }
        .select_image{
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        img{
            /*max-width: 100%;*/
        }
    </style>
</head>
<body>
<canvas height="400" width="800"></canvas>
<img />
<div class="select_image_container">
    <input  type="file"  accept="image/*" data-role="select_image" class="select_image"/>
</div>
<a data-role="download" download="download">download</a>
<!--<img src="https://s.qunarzz.com/open_m_train/active/assistance2018/header.jpg" />-->
<!--<img src="https://s.qunarzz.com/open_m_train/active/assistance2018/login_header.png" style="display: none"/>-->
<script>
    //error_page 405 =200 $uri;
    function CascadeImages(canvas,img_src_arr,targetimg,offsets){
        this.context=canvas.getContext('2d');
        this.context.clearRect(0,0,canvas.width,canvas.height);
        this.hasLoaded=[];
        this.index=0;
        this.canvas=canvas;
        this.img_src_arr=img_src_arr;
        this.targetImg=targetimg;
        this.offsets=offsets || [];
        this.drawImgs(img_src_arr);
    }
    CascadeImages.prototype.addIndex=function(){
        this.index++;
        var loadedImg=this.hasLoaded[this.index];
        if(loadedImg){
            this.drawImage(loadedImg);
        }
        if(this.index == this.img_src_arr.length){
            this.translateToImg();
        }

    }
    CascadeImages.prototype.drawImgs=function(img_src_arr){
        var me=this;
        img_src_arr.forEach(function(item,index){
            var img;
            if(typeof item =='string'){
                img=new Image();
                img.setAttribute('crossOrigin', 'anonymous');
            }else{
                img=item;
            }
            var imgOffset=me.offsets[index] || [0,0];
            img.setAttribute('offset',imgOffset.join(','))
            img.onload=function(){
                if(me.index ==  index){
                    me.drawImage(this,0,0);
                }else{
                    me.hasLoaded[index]=this;
                }
            }
            img.src=item;
        });
    }
    CascadeImages.prototype.drawImage=function(img){
        var context=this.context,
            canvas=this.canvas;
        var result=this.calcRatio(img);
        var offsets=img.getAttribute('offset').split(',');
        var x=parseFloat(offsets[0]),
            y=parseFloat(offsets[1]);
        alert(canvas.height+'||'+img.height);
        alert(JSON.stringify(result,null,4));
        if(result.type == 1){
            context.drawImage(img,0,0,img.width,img.height,result.offset_left+x,result.offset_top+y,img.width,img.height);
        }else if(result.type == 2){
            context.drawImage(img,0,0,img.width,img.height,result.offset_left+x,result.offset_top+y,img.width*result.ratio,img.height*result.ratio);
        }
        this.addIndex();
    }
    CascadeImages.prototype.calcRatio=function(img){
        var canvas=this.canvas;
        var c_width=canvas.width,
            c_height=canvas.height,
            i_width=img.width,
            i_height=img.height;
        if(c_width >= i_width && c_height >= i_height){
            return{
                type:1,
                offset_left:(c_width-i_width)/2,
                offset_top:(c_height-i_height)/2
            }
        }else{
            var w_ratio=c_width/i_width,
                h_ratio=c_height/i_height;
            var final_ratio=w_ratio<h_ratio?w_ratio:h_ratio;
            i_width*=final_ratio;
            i_height*=final_ratio;
            return{
                type:2,
                offset_left:(c_width-i_width)/2,
                offset_top:(c_height-i_height)/2,
                ratio:final_ratio
            }
        }
    }
    CascadeImages.prototype.translateToImg=function(){
        var canvas=this.canvas;
        var data=canvas.toDataURL();
        if(this.targetImg){
            this.targetImg.src=data;
            targetImgBase64=data;
        }
    }

    //bussiness
    var targetImgBase64;
    var selectPic=document.querySelector('[data-role="select_image"]');
    var targetImg=document.querySelector('img');
    var download=document.querySelector('[data-role="download"]');
    var canvas=document.querySelector('canvas')

    function checkCanDownLoad(){
        var a=document.createElement('a');
        return 'download' in a;
    }
    var candownload=checkCanDownLoad();

    function initCanvas(ratio){
        var w_width=window.innerWidth;
        canvas.width=w_width;
        canvas.height=ratio*w_width;
    }
    initCanvas(1.5);

    selectPic.onchange=readImg;
    function readImg(){
        var reader = new FileReader();
        reader.onload = function() {
            //test code
            var imgarr=[
                targetImg,
                'https://s.qunarzz.com/open_m_train/active/assistance2018/login_header.png'
            ];

            new CascadeImages(canvas,imgarr,targetImg,[[0,0]]);
            targetImg.src=reader.result;
        };
        reader.readAsDataURL(this.files[0]);
    }

    download.onclick=function(){
        if(targetImgBase64 && candownload){
            download.href=targetImgBase64;
        }
    }
</script>
</body>
</html>