<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [data-role=container]{
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
    </style>
</head>
<body>
<div data-role="container">
    <img src="https://s.qunarzz.com/open_m_train/active/travel2018/sanqi/app_bg.png" />
</div>
<script>
    function ClipImage(container,clipWidth,clipHeight) {
        this.container=container;
        this.clipWidth=clipWidth || 100;
        this.clipHeight=clipHeight || 100;
        this.selectionDiv=null;
        this.hasStart=false;
        this.points=[];
        this.left=0;
        this.top=0;
        this.containerWidth=0;
        this.containerHeight=0;
        this.maxLeft=0;
        this.maxTop=0;
        this.minLeft=0;
        this.minTop=0;
        this.addSelectionDiv();
    }
    ClipImage.prototype.createSelectionDiv=function(){
        if(this.selectionDiv){
            return this.selectionDiv;
        }
        var me=this;
        var container=this.container;
        var containerWidth=this.containerWidth=container.offsetWidth;
        var containerHeight=this.containerHeight=container.offsetHeight;
        me.left=(-containerWidth-me.clipWidth)/2;
        me.top=(-containerHeight-me.clipHeight)/2;
        this.minLeft=me.left-containerWidth/2+me.clipWidth/2;
        this.minTop=me.top-containerHeight/2+me.clipHeight/2;
        this.maxLeft=me.left+(me.containerWidth-me.clipWidth)/2;
        this.maxTop=me.top+(me.containerHeight-me.clipHeight)/2;
        var div=document.createElement('div');
        var styles={
           'position':'absolute',
           'width':me.clipWidth+'px',
            'height':me.clipHeight+'px',
            'left':me.left+'px',
            'top':me.top+'px',
            'border':'1px solid rgba(255,255,255,.5)',
            'border-width':containerHeight+'px '+containerWidth+'px '
        };
        var style=Object.keys(styles).map(function(item){
            return item+':'+styles[item];
        }).join(';');
        div.style.cssText=style;
        return div;
    }
    ClipImage.prototype.addSelectionDiv=function(){
        this.selectionDiv=this.createSelectionDiv();
        this.container.appendChild(this.selectionDiv);
        this.addEvents();
    }
    ClipImage.prototype.moveSelectionDiv=function(){
        var me=this;
        var points=me.points;
        if(points.length<2){
            return;
        }
        var now=points[0],pre=points[1];
        var durleft=now[0]-pre[0],
            durtop=now[1]-pre[1];
        me.left+=durleft;
        me.top+=durtop;
        if(me.left <= me.minLeft){
            me.left = me.minLeft;
        }else if(me.left > me.maxLeft){
            me.left = me.maxLeft;
        }
        if(me.top <= me.minTop){
            me.top = me.minTop;
        }else if(me.top >= me.maxTop){
            me.top = me.maxTop;
        }
        this.selectionDiv.style.left=me.left+'px';
        this.selectionDiv.style.top=me.top+'px';
    }
    ClipImage.prototype.addEvents=function(){
        var me=this;
        var selectionDiv=me.createSelectionDiv();
        selectionDiv.addEventListener('touchstart',function(){
            me.hasStart=true;
        },false);
        selectionDiv.addEventListener('touchend',function(){
            me.hasStart=false;
            me.points=[];
        },false);
        selectionDiv.addEventListener('touchmove',function(e){
            e.preventDefault();
            if(me.hasStart){
                var touch=e.changedTouches[0];
                me.points.unshift([touch.clientX,touch.clientY]);
                me.moveSelectionDiv();
//                console.log(me.points);
            }
        },false);
    }
    window.setTimeout(function(){
        new ClipImage(document.querySelector('[data-role="container"]'),300,300);
    },2000);
</script>
</body>
</html>