<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<script src="../common/JSXTransformer.js"></script>
<script src="../common/react16.js"></script>
<script src="../common/react-dom16.js"></script>
<script type="text/jsx">
    const {Component}=React;
    class FocusInput extends Component{
        constructor(props){
            super(props);
        }
        componentDidMount(){
            this.el.focus();
        }
        render(){
            return(
                <input
                    ref={el=>this.el=el}
                    value={this.props.value}
                    onChange={this.props.changeHandle}
                />
            )
        }
    }
    const Input=props=>(
        <input
            value={props.value}
            onChange={props.changeHandle}
        />
    );
    class Test extends Component{
        constructor(props){
            super(props);
            this.state={
                value:''
            };
            this.changeHandle=this.changeHandle.bind(this);
        }
        changeHandle(e){
            this.setState({value:e.target.value});
        }
        render(){
            return(
                <div>
                    <Input
                        value={this.state.value}
                        changeHandle={this.changeHandle}
                    />
                    <Input
                        value={this.state.value}
                        changeHandle={this.changeHandle}
                    />
                    <FocusInput
                        value={this.state.value}
                        changeHandle={this.changeHandle}
                    />
                    <Input
                        value={this.state.value}
                        changeHandle={this.changeHandle}
                    />
                </div>
            )
        }
    }
    ReactDOM.render(<Test/>,document.body);
</script>
</body>
</html>