<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="test">
    <p>{{count}}</p>
    <input @click.once="count+=1" type="button" value="add" />
    <ul>
        <li v-for="for (item,index) in arr" v-if="index>=1">{{index}}-{{item}}</li>
    </ul>
</div>
<script src="./common/vue@2.3.3.js"></script>
<script>
    new Vue({
        el:'#test',
        data:{
            arr:['a','b','c'],
            count:0
        },
        watch:{
            count:function(v){
                console.log(v);
            }
        }
    });
</script>
</body>
</html>