@-webkit-keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading_container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top:0;
    z-index: 10;
}
.loading_container .loading{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: calc((100vh - 10vw) / 2);
    left: calc((100vw - 10vw) / 2);
    border-width: 3vw;
    border-color: red blue green yellow;
    border-style: solid;
    border-radius: 50%;
    animation: loading 2s linear 0s infinite;
}